<div class="main" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="input-group col-lg-6 col-md-6 col-sm-6 mb-3 search-bar">
    <input type="text" class="form-control" placeholder="Recipe.." [(ngModel)]="recipename">&nbsp;&nbsp;&nbsp;
    <input type="text" class="form-control" placeholder="Restaurants Nearby.." [(ngModel)]="name">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2" (click)="search()" style="cursor: pointer">Search</span>
    </div>
  </div>
</div>
